<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (locals.user != null) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/headerDeslogueado') %>
    <% } %>


    <main>
        <section class="center main-content">
            <h1>Nuevo Post</h1>
            <form action="/posteos/agregarPost/procesar" method="POST">
                <label for="imagen" >Imágen</label>
                <input type="text" name="imagen" required>
                <label for="text">Ingrese un pie de foto:</label>
                <input type="text" name="pie" required>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>