<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
        <a href="/">
            <img src="/img/logo.jpeg" alt="logo" class="logo"> 
        </a>
        </div>
        <div class="navbar-center">
            <form action="/resultados" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name="busqueda" class="search-input" placeholder="Buscar posteos...">
                <input type="submit" value="Enviar">
            </form>
        </div>
        <div class="navbar-second">
            <form action="/resultadosUsuarios" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name="busqueda" class="search-input" placeholder="Buscar usuarios...">
                <input type="submit" value="Enviar">
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                
            </ul>
        </div>
    </nav>
</header>